body{
    background-color: #212836;
    color: #d4433c;
    font-size: 18px;
    user-select: none;
}
span{
  display: inline-block;
}
.szurke{
    color:#97a7c8;
}
.sarga{
    color:#ffd95e;
}
.kek{
    color:#56a3b1;
}
p{
  margin: 0;
}
.sorveg{
  width: 100%;
  padding-left: 40px;
}
.be{
    padding-left: 80px;
}
.beketto{
  padding-left: 120px;
}
.beharom{
  padding-left: 160px;
}
.content{
  min-height: calc(100vh - 40px);
  padding-top: 100px;
}

  .sorveg:hover{
    background-color: #24324e77;
  }