body{
    background-color: #212836;
}

.egesz{
    background-color: #212836;
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 80vh;
}
.doboz{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doboz span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
}

.doboz span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
}

.doboz span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 56% 59% 44% 41% / 63% 37% 38% 62%;
}

.content{
    position: relative;
    padding: 40px 60px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.content a{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid #fff;
    padding: 6px 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.content a:hover{
    background: #fff;
    color: #333;
}

#jobbdoboz{
    float: left;
    margin: 20px 150px;
}

#baldoboz{
    float: right;
    margin: 20px 150px;
}

h1{
    text-align: center;
    color: #fff;
    padding-top: 50px;
}
@media only screen and (max-width:1300px){
    #jobbdoboz{
        margin: 20px 100px;
    }
    #baldoboz{
        margin: 20px 50px;
    }
}

@media only screen and (max-width:900px){
    #jobbdoboz{
        margin: 50px 150px;
    }
    #baldoboz{
        margin: 50px 150px;
    }
}
.row{
    margin-right: 0px;
  }
